### USED WITHIN THE CONTAINER ###

# TELEGRAM METADATA
TELEGRAM_API_ID=
TELEGRAM_API_HASH=
BORED_GAME_CHAT_ID=-
ADMIN_USER_NAME=
ADMIN_USER_ID=
TELEGRAM_SESSION_PATH=/app/data/session/client.session

# FILE SYSTEM
DOWNLOADS_PATH=/app/downloads

# IMGBB
IMGBB_API_KEY=

# DB
DATABASE_URL="file:./prisma/data/dev.db"